{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Produits</h1>

    {% if produits is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Quantité en stock</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td><a href="{{path('produit', {'id': produit.id})}}">{{produit.photo}}</a></td>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.quantiteEnStock}}</td>
                        <td>{{produit.prix}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a aucun produit</p>
    {% endif %}

    <h2>Formulaire d'ajout de produit</h2>
    
    <p>
        {{ form(formAjoutProduit)}}
    </p>
    
</div>
{% endblock %}
